@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

body {
    background-color: #FCA6C9;
    text-align: center;
}
.nelson{
    width: 200px;
}
p{
    margin: auto;
    color: white;
}
h3 {
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
.education:hover{
    color: black;
}

section{
    font-family: 'Roboto', sans-serif;
    list-style-position: inside;
}
div.parent {
    text-align: center;
}
ol {
    display: inline-block;
    text-align: left;
    line-height: 1.7em;
}
h1{
    color: white;
    margin: 2em;
    font-family: 'Lato', sans-serif;
}

.quote{
    width: 300px;
    margin: 1em auto;
    font-family: '';
    font-size: 2em;
    color:white;
}

p.copy{
    color: black;
}